@model CarPark.Models.Driver

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enterprise)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enterprise.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            Vehicles
        </dt>
        <dd class="col-sm-10">
            @foreach (var vehicleNumber in Model.DriversVehicles.Select(m => m.Vehicle.RegistrationNumber))
            {
                <span>@vehicleNumber; </span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
