@using CarPark.Models;
@using CarPark.ViewModels;

@model PaginationWithEnterpriseFilter<Vehicle>

<h4>Vehicles</h4>
<hr />
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <span>Enterprises:</span>
    <a asp-action="Index">All</a>
    @foreach (var enterprise in Model.EnterpriseFilter.UserEnterprises)
    {
        <a asp-action="Index" asp-route-enterpriseId="@enterprise.Id">@enterprise.Name</a>
    }
</p>
<table class="table">
    <thead>
        @{
            var modelItem = new Vehicle();

            <tr>
                <th>
                    @Html.DisplayNameFor(model => modelItem.RegistrationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => modelItem.Enterprise)
                </th>
                <th>
                    @Html.DisplayNameFor(model => modelItem.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => modelItem.Mileage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => modelItem.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => modelItem.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => modelItem.ActiveDriver)
                </th>
                <th>Actions</th>
            </tr>
        }
    </thead>
    <tbody>
        @foreach (var item in Model.Pagination.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enterprise.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mileage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveDriver.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Pagination.HasPreviousPage)
{
    <a
        asp-action="Index"
        asp-route-page="@(Model.Pagination.PageNumber - 1)"
        asp-route-enterpriseId="@Model.EnterpriseFilter.SelectedId"
    >
        Назад
    </a>
}

<span>Страница @Model.Pagination.PageNumber</span>

@if (Model.Pagination.HasNextPage)
{
    <a
        asp-action="Index"
        asp-route-page="@(Model.Pagination.PageNumber + 1)"
        asp-route-enterpriseId="@Model.EnterpriseFilter.SelectedId"
    >
        Вперед
    </a>
}